<div class="container">

  <div style="display: flex; flex-direction: row;">
    <mat-form-field *ngIf="setTitleEdit">
      <input matInput type="text" autocomplete="off" [(ngModel)]="setTitleInput">
      <button matSuffix mat-icon-button aria-label="Accept" (click)="setTitleHandle(set)">
        <mat-icon>check</mat-icon>
      </button>
      <button matSuffix mat-icon-button aria-label="Cancel" (click)="setTitleEdit = false">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <h1 *ngIf="!setTitleEdit"><i><b>{{set?.title}}</b></i></h1>
    <button *ngIf="!setTitleEdit" mat-icon-button (click)="setTitleEdit = true ; setTitleInput = set?.title;"
      style="margin: -5px 0px 0px 15px;">
      <mat-icon>edit</mat-icon>
    </button>

  </div>

  <div
    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-top: 20px;">


    <div>
      <button [disabled]="!set?.words?.length" [routerLink]="'/learn/' + set?.id" mat-raised-button
        style="margin: 0px 0px 40px 10px;" color="primary">
        <mat-icon>draw</mat-icon>
        <span style="margin-left: 10px;">Öğren</span>
      </button>
      <button [routerLink]="'/'+set?.id + '/addWord/'" mat-raised-button style="margin: 0px 0px 40px 10px;"
        color="accent">
        <mat-icon>add</mat-icon>
        <span style="margin-left: 10px;">Kelime Ekle</span>
      </button>
      <button (click)="openDialog('set')" mat-raised-button style="margin: 0px 0px 40px 10px;" color="warn">
        <mat-icon>delete</mat-icon>
        <span style="margin-left: 10px;">Seti Sil</span>
      </button>

    </div>


    <span style="margin-right: 500px;">
      <h4><i>Kursu Tamamlama Oranı : %{{calculate(set?.words)}}</i></h4>
      <h4><i>Tamamlanan Test Sayısı : {{set?.testValue}}</i></h4>
    </span>
  </div>

  <h3><b>Bu setteki terimler ({{set?.words?.length}})</b></h3>
  <div class="mat-cardim" [ngClass]="{'height200' : cardHover[i] , 'height80': cardHover[i] === false}" [id]="'wordCard' +i" *ngFor="let word of set?.words ; let i = index">


    <div class="flip-card" (mouseleave)="cardHover[i] = false" (mouseenter)="cardHover[i] = true">
      <mat-card class="card-body">
        <div class="card-front">
          <div style="width: 15%; padding: 15px;">
            {{word.english}}
          </div>
          <div style="width: 15%; padding: 15px;">
            {{word.turkish.first + (word.turkish.second ? " ~ " : "") + word.turkish.second}}
          </div>
          <div class="example-section">
            <mat-progress-bar class="example-margin" color="primary" mode="determinate" [value]="word.rating"
              [bufferValue]="75">
            </mat-progress-bar>
            <span>%{{word.rating}}</span>
          </div>
          <div style="padding: 15px;">
            <mat-icon style="color:#0f9d58 ;">check</mat-icon>
            <span>{{word.trueAnswer}}</span>
            <mat-icon color="warn">close</mat-icon>
            <span>{{word.falseAnswer}}</span>
          </div>
        </div>

        <div class="card-back">
          <div style="width: 100%; padding: 5px; display: flex;">
            <div style="margin-left: 7.5%; width: 40%;">{{word.sentences[0].english}}</div>
            <div style="width: 50%;">{{word.sentences[0].description}}</div>
          </div>
          <div style="width: 100%; padding: 5px; display: flex;">
            <div style="margin-left: 7.5%; width: 40%;">{{word.sentences[1].english}}</div>
            <div style="width: 50%;">{{word.sentences[1].description}}</div>
          </div>
          <div style="width: 100%; padding: 5px; display: flex;">
            <div style="margin-left: 7.5%; width: 40%;">{{word.sentences[2].english}}</div>
            <div style="width: 50%;">{{word.sentences[2].description}}</div>
          </div>
        </div>

      </mat-card>
    </div>


    <mat-card class="utils-card">
      <button mat-icon-button [routerLink]="'/' + set?.id + '/word/'+word.id">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog('word')">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>

    <mat-card class="description-card" *ngIf="word.description !== ''">
      <p><i><b>Not: </b></i>{{word.description}}</p>
    </mat-card>

  </div>

</div>
