<div class="cards">
  <div class="card" *ngFor="let set of sets">
    <a [routerLink]="'/set/' + set.id">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{set.title}}</mat-card-title>
          <mat-card-subtitle>{{set?.words?.length}} kelime</mat-card-subtitle>

        </mat-card-header>
        <mat-progress-bar class="example-margin" color="primary" mode="determinate" [value]="calculate(set?.words)"
          [bufferValue]="75">
        </mat-progress-bar>
      </mat-card>
    </a>
  </div>
</div>
