@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.cards{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
}

.filter{
  display: flex;
  justify-content: space-between;
}

.filter-left{
  display: flex;
  align-items: center;
}

.filter .add-set{
  border-radius: 25px;
  width: 150px;
  margin: 0px 15px;
}

.filter .arrow{
  min-width: 36px;
  padding: 0px;
  border-radius: 10px;
}


.filter mat-icon{
  height: 30px;
}

.card{
  margin: 10px;
}

.card mat-card-title{
  font-size: 17px;
  margin-left: -10px;
}

.card mat-card-subtitle{
  font-size: 13px;
  margin-left: -10px;
}
a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
}

.daily-task{
  width: 30%;
  padding :10px;
}

.daily-task mat-card{
  margin-top: 10px;
}
.daily-task-header{
  display: flex;
  align-items: center;
  width: 280px;
  height: 10px;
  border-radius: 20px;
}

.daily-task-header mat-card-title{
  margin: 0px;
  font-size: 16px;
}

.material-icons-outlined{
  font-size: 30px;
  overflow: initial;
}

mat-icon{
  width: 40px;
  height: 40px;
}

.calendar{
  border-radius: 10px;
  padding: 3px;
}



.weekly-row{
  display: flex;
  align-items: center;
  border: solid 1px ;
  margin: 10px 0px;
}

.weekly-rate{
  width: 40px;
  height: 40px;
  background-color: aqua;
}
.chart{
  width: 50%;
}



::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.3em; }
::ng-deep .mat-form-field-wrapper { padding-bottom: 0; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, ::ng-deep.mat-form-field-appearance-outline .mat-form-field-suffix{
  top: 0em !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0 20px 20px 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
  border-radius: 20px 0 0 20px !important;
}

::ng-deep .mat-form-field-outline{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  border-radius : 20px;
}

#search-input{
  margin-bottom: 5px;
}
