<div class="header">
  <mat-card-subtitle>
    <a [routerLink]="'/studySets'">
      <b>&#60; Geri Dön</b>
    </a>

  </mat-card-subtitle>

  <h2>Create a new study set</h2>
</div>
<mat-card>



  <mat-card-header>
    <mat-form-field>
      <mat-label>Set Name</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="setTitle">
    </mat-form-field>
  </mat-card-header>

  <mat-card-content>
    <app-create-words (arrayOut)="createSet($event)"></app-create-words>
  </mat-card-content>

</mat-card>
