<mat-toolbar>
  <div class="logo">
    <a [routerLink]="'/'"><img src="../../assets/logo.png"></a>
  </div>

  <div class="toolbar-buttons">

    <button mat-icon-button [routerLink]="'/'" routerLinkActive="button-active" [routerLinkActiveOptions]="{exact:true}">
      <span class="material-icons-round">
        home
      </span>
    </button>
    <button mat-icon-button [routerLink]="'/'" routerLinkActive="button-active"[routerLinkActiveOptions]="{exact:true}">
      <span class="material-icons-round">
        bar_chart
      </span>
    </button>
    <button mat-icon-button [routerLink]="'/'" routerLinkActive="button-active"[routerLinkActiveOptions]="{exact:true}">
      <span class="material-icons-round">
        task_alt
      </span>
    </button>
    <button mat-icon-button [routerLink]="['/studySets']" routerLinkActive="button-active"[routerLinkActiveOptions]="{exact:true}">
      <span class="material-icons-round">
        view_module
      </span>
    </button>

  </div>

  <div></div>


</mat-toolbar>
