<div class="header">
  <mat-card-subtitle>
    <a [routerLink]="'/set/' + set?.id">
      <b>&#60;  Çalışma Setine Geri Dön</b>
    </a>

  </mat-card-subtitle>

  <div>

    <button (click)="undoRedoHandler(-1)" [disabled]="wordHistoryIndex < 1" color="primary" mat-mini-fab>
      <mat-icon>undo</mat-icon>
    </button>

    <button (click)="undoRedoHandler(1)" [disabled]="wordHistoryIndex >= wordHistory.length-1" color="primary" mat-mini-fab>
      <mat-icon>redo</mat-icon>
    </button>

    <button (click)="submitWord()" mat-raised-button style="color:#0f9d58 ;"><mat-icon style="font-size: 24px;">save</mat-icon> Kaydet</button>

  </div>
</div>

<mat-card>


  <form [formGroup]="word">

    <mat-form-field style="width: 15%;">
      <mat-label>English</mat-label>
      <input matInput autocomplete="off" formControlName="english">
    </mat-form-field>

    <mat-form-field style="width: 15%;">
      <mat-label>Turkish - 1</mat-label>
      <input matInput autocomplete="off" formControlName="turkhishFirst">
    </mat-form-field>

    <mat-form-field style="width: 15%;">
      <mat-label>Turkish - 2</mat-label>
      <input matInput autocomplete="off" formControlName="turkishSecond">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Description</mat-label>
      <input matInput autocomplete="off" formControlName="description">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Sample Sentence - 1</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceFirstEnglish">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Description</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceFirstDescription">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Sample Sentence - 2</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceSecondEnglish">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Description</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceSecondDescription">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Sample Sentence - 3</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceThirdEnglish">
    </mat-form-field>

    <mat-form-field style="width: 40%;">
      <mat-label>Description</mat-label>
      <input matInput autocomplete="off" formControlName="sentenceThirdDescription">
    </mat-form-field>

  </form>



</mat-card>

