mat-form-field{
  margin: 20px;
}

form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 15px;
}

a{
  text-decoration: none;

}

.mat-mini-fab{
  margin: 10px 20px 0px 0px;
  width: 36px;
  height: 36px;
}

.material-icons{
  font-size: 18px;
}
