mat-form-field{
  margin: 20px;
}

form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 15px;
}

a{
  text-decoration: none;

}

