/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto Condensed', sans-serif;
}

html, body { height: 100%;   background-color: #f7f8fa; }
body { margin: 0; font-family: 'Roboto Condensed', sans-serif; }
h2{
  font: 600 20px/32px 'Roboto Condensed', sans-serif !important;
}
