/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto Condensed', sans-serif;
}

html, body { height: 100%;   background-color: #f6f7fb; }
body { margin: 0; font-family: 'Roboto Condensed', sans-serif; }
